<html>
<head>
<style>
div.gallery {
  margin: 15px;
  border: 1px solid #ccc;
  float: left;
  width: 500px;
}
div.gallery img {
  width: 110%;
  height: 500;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #00ff00
  
}
</style>
</head>
<body>
<div class="gallery">
    <img src="img_forest.jpg" alt="Forest" >
  </a>
  <div class="desc">MAHESH BABU</div>
</div>
<div class="gallery">
    <img src="img_mountains.jpg" alt="Mountains" >
  </a>
  <div class="desc">MAHESH BABU</div>
</div>
</body>
</html>